{% extends 'base.html.twig' %}

{% block title %}Etudiant index{% endblock %}

{% block body %}

    <h1>Etudiant<h1>

    <table class="table">
        <thread>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>DateNaiss</th>
                <th>Surnom</th>
                <th>Promotion</th>
                <th>Maison</th>
            </tr>
        </thread>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{etudiant.id}}</td>
                <td><a href="{{path('app_etudiant_show', {'id': eleve.id}) }}">{{etudiant.nom}} {{ etudiant.prenom}}</td>
                <td>{{ etudiant.dateNaiss ? etudiant.dateNaiss|date('Y-m-d') : ''}}</td>
                <td>{{ etudiant.surnom}}</td>
                <td>{{ etudiant.promition.libelle}}</td>
                <td>{{eleve.maison.nom}}</td>
            </tr>
        {% endfor %}
        </tbody>
    <table>  

{% endblock %}
